---
  - hosts:
    gather_facts: no
    tasks:
        - name: Ensures Selinux set to enforcing mode
          lineinfile:
            path: /etc/selinux/config
            regexp: '^SELINUX='
            line: SELINUX=enforcing
          