---
  - hosts:
    gather_facts: no
    tasks:
        - name: Insert new line into a file after specific line 
          lineinfile:
            path: /etc/hosts
            insertafter: '^127.0.0.1'
            line: 172.22.84.10 myhost.example.com myhost
          